<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Jackpot Control</title>
  <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <style>
    #container {
      width: 480px;
      padding: 10px;
      font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    a {
      color: #00B7FF;
    }
    h6{
      font-size: 20px;
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
    }
    p{
      font-size: 14px;
      color: #333;
    }
    .online{
      color: #2ecc71;
    }
    .offline{
      color: #ddd;
    }
    .status{
      font-size: 12px;
    }
    .red{
      color: red;
    }
    .v{
      font-size: 12px; color: #555;
    }
    .host-name{
      color: #2ecc71; font-size: 16px; text-transform: uppercase;
    }
    .host-id{
      color: #333; font-size: 14px;
    }
  </style>
</head>

<body ng-app="app" ng-controller="AppCtrl">
  <div class="container">
    <h6>彩金池 约<span class="red" ng-bind="jackpot | currency"></span> (亿)</h6>
    <p>在线玩家 <span class="red" ng-bind="players"></span></p>
    <!-- Client -->
    <h6>客户端列表</h6>
    <p>在线：<span ng-bind="status.active"></span>
      <button
        ng-click="refresh($event)"
        class="pull-right btn-warning btn btn-xs">点击刷新</button>
    </p>
    <div class="clearfix"></div>
    <ul class="list-group">
      <li class="list-group-item"
        ng-repeat="host in status.hosts | orderBy: 'name'"
        ng-click="client(host, $index)">
        <div>
          <span class="host-id">ID: <span ng-bind="host.title"></span> v:<span class="v" ng-bind="host.version"></span></span>
          <span class="pull-right"><span class="host-name" ng-bind="host.name"></span></span>
          <div class="clearfix"></div>
        </div>
        <div>
          <span ng-bind="host.douzi | currency"></span>
          <small class="status pull-right" ng-bind="host.status"></small>
          <div class="clearfix"></div>
        </div>
        
        <div ng-if="host.control">
          <p></p>
          <div class="row" style="padding: 5px;">
            <div class="col-md-3 col-xs-3">
              <button
                ng-click="sendClient(host.id, 'start', $event)"
                class="btn btn-xs btn-block btn-success"><i class="fa fa-play"></i></button>
            </div>
            <div class="col-md-3 col-xs-3">
              <button
                ng-click="sendClient(host.id, 'stop', $event)"
                class="btn btn-xs btn-block btn-danger"><i class="fa fa-pause"></i></button>
            </div>
            <div class="col-md-3 col-xs-3">
              <button
                ng-click="sendClient(host.id, 'update', $event)"
                class="btn btn-xs btn-block btn-info"><i class="fa fa-cloud-upload"></i></button>
            </div>
            <div class="col-md-3 col-xs-3">
              <button
                ng-click="openDetail(host.id, $event)"
                class="btn btn-xs  btn-block btn-info"><i class="fa fa-eye"></i></button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- / -->
    <!-- Swither Start -->
    <h6>开关控制</h6>
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <button
          ng-click="send('start')"
          class="btn btn-large btn-block btn-success"><i class="fa fa-play"></i></button>
      </div>
      <div class="col-md-4 col-xs-4">
        <button
          ng-click="send('stop')"
          class="btn btn-large btn-block btn-danger"><i class="fa fa-pause"></i></button>
      </div>
      <div class="col-md-4 col-xs-4">
        <button
          ng-click="send('update')"
          class="btn btn-large btn-block btn-info"><i class="fa fa-cloud-upload"></i></button>
      </div>
    </div>
    <!--<p>运行状态: <i class="fa fa-circle " ng-class="{'true': 'online', 'false': 'offline'}[status.running]"></i></p>-->

    <!-- / -->

    <!-- Text Commander -->
    <h6>指令控制</h6>
    <div>
      <input type="text" ng-model="commander.command" placeholder="Command" class="form-control" />
      <p></p>
      <input type="text" ng-model="commander.value" value="" placeholder="Value" class="form-control" />
      <p></p>
      <button
          ng-click="send(commander.command, commander.value)"
          class="btn btn-large btn-block btn-inverse">发送</button>
    </div>
    <!-- / -->
    <p></p>
  </div>
</body>
<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
  Array.prototype.searchById = function(id) {
    var len = this.length;
    for( var i = 0 ; i < len; i++){
      if(this[i].id === id){
        return true;
      }
    }
    return false;
  }

  Array.prototype.removeById = function(id) {
    var len = this.length;
    var delete_id = false;
    for( var i = 0 ; i < len; i++){
      if(this[i].id === id){
        delete_id = i;
        break;
      }
    }
    if(delete_id === false){
      return false;
    }
    this.splice(delete_id, 1);
    return true;
  };
  angular.module('app', [])
    .controller('AppCtrl', function ($scope, $timeout, $sce) {
      $scope.status = {
        hosts: new Array(),
        total: 10,
        active: 0,
        running: false,
      };
      $scope.commander = {
        command: '',
        value: '',
      };
      $scope.jackpot = 0;
      $scope.players = 0;
      var server = io('http://api.yunplus.io');
      // var server = io('http://192.168.199.105:9999')
      server.on('message', function (data) {
        if(data.target !== 'server'){
          return;
        }
        if(data.channel !== 'Eggs'){
          return;
        }
        if(!data.id){
          return;
        }
        switch(data.command){
          case 'jackpot':
            $scope.jackpot = data.jackpot * 1.00 / 100000000;
            $scope.players = data.players;
            $scope.$apply();
            return;
          case 'connect':
          case 'login':
          case 'refresh':
            if($scope.status.hosts.searchById(data.id)){
              return
            }
            $scope.status.active = $scope.status.active + 1;
            var name = data.name || '>';
            if(name.indexOf('-')){
              name = name.split('-');
            }
            $scope.status.hosts.push({
              id: data.id,
              name: name[1] || 'UnKnown',
              title: name[0],
              online: true,
              version: data.version,
              status: data.status,
              douzi: data.douzi,
            });
            $scope.$apply();
            return;
          case 'reconnect':
            return;
          case 'logout':
          case 'disconnect':
            if($scope.status.hosts.removeById(data.id)){
              $scope.status.active = $scope.status.active - 1;
            }
            $scope.$apply();
            return;
        }
      });

      var send = function(data){
        data.channel = 'Eggs';
        server.emit('message', data)
      };

      $scope.refresh = function($event){
        $scope.status.hosts = [];
        $scope.status.active = 0;
        send({
          command: 'refresh',
        })
      }
      $scope.refresh();
      $scope.client = function(host, $index){
        host.control = !(host.control || false);        
      }
      $scope.sendClient = function(id, command, $event){
        send({
          command: command,
          id: id,
        });
        $event.stopPropagation();
      }
      $scope.openDetail = function(id, $event){
        $event.stopPropagation();
        window.open('/eggs/logs/' + id);
      }
      $scope.send = function(command, val, $event){
        if(command === 'start'){
          $scope.status.running = true;
        }else if(command === 'stop'){
          $scope.status.running = false;
        }
        send({
          command: command,
          val: val || '',
        });
      }
    })
</script>


</html>